Repository zcash/orchard, pull requests merged in 2021-12, with the labels that each got.

#247 circuit: Introduce ternary expression helper.
  src/circuit/gadget/ecc/chip/mul.rs
  src/circuit/gadget/ecc/chip/mul/complete.rs
  src/circuit/gadget/utilities.rs
  src/circuit/gadget/utilities/cond_swap.rs
  src/circuit_description
Labels: M-circuit-change

#248 circuit: Refactor `EccConfig` away from `impl From<EccConfig>`.
  src/circuit.rs
  src/circuit/gadget/ecc/chip.rs
  src/circuit/gadget/ecc/chip/add.rs
  src/circuit/gadget/ecc/chip/add_incomplete.rs
  src/circuit/gadget/ecc/chip/mul.rs
  src/circuit/gadget/ecc/chip/mul/complete.rs
  src/circuit/gadget/ecc/chip/mul/incomplete.rs
  src/circuit/gadget/ecc/chip/mul/overflow.rs
  src/circuit/gadget/ecc/chip/mul_fixed.rs
  src/circuit/gadget/ecc/chip/mul_fixed/base_field_elem.rs
  src/circuit/gadget/ecc/chip/mul_fixed/full_width.rs
  src/circuit/gadget/ecc/chip/mul_fixed/short.rs
  src/circuit/gadget/ecc/chip/witness_point.rs
  src/circuit/gadget/sinsemilla.rs
  src/circuit/gadget/sinsemilla/commit_ivk.rs
  src/circuit/gadget/sinsemilla/merkle.rs
  src/circuit/gadget/sinsemilla/note_commit.rs
  src/circuit/gadget/utilities/decompose_running_sum.rs
  src/circuit/gadget/utilities/lookup_range_check.rs
  src/circuit_description
Labels: S-committed, M-circuit-change

#250 Migrate to halo2 version with `AssignedCell`
  Cargo.toml
  benches/poseidon.rs
  src/circuit.rs
  src/circuit/gadget/ecc.rs
  src/circuit/gadget/ecc/chip.rs
  src/circuit/gadget/ecc/chip/add.rs
  src/circuit/gadget/ecc/chip/add_incomplete.rs
  src/circuit/gadget/ecc/chip/mul.rs
  src/circuit/gadget/ecc/chip/mul/complete.rs
  src/circuit/gadget/ecc/chip/mul/incomplete.rs
  src/circuit/gadget/ecc/chip/mul/overflow.rs
  src/circuit/gadget/ecc/chip/mul_fixed.rs
  src/circuit/gadget/ecc/chip/mul_fixed/base_field_elem.rs
  src/circuit/gadget/ecc/chip/mul_fixed/full_width.rs
  src/circuit/gadget/ecc/chip/mul_fixed/short.rs
  src/circuit/gadget/ecc/chip/witness_point.rs
  src/circuit/gadget/poseidon.rs
  src/circuit/gadget/poseidon/pow5.rs
  src/circuit/gadget/sinsemilla.rs
  src/circuit/gadget/sinsemilla/chip.rs
  src/circuit/gadget/sinsemilla/chip/hash_to_point.rs
  src/circuit/gadget/sinsemilla/commit_ivk.rs
  src/circuit/gadget/sinsemilla/merkle.rs
  src/circuit/gadget/sinsemilla/merkle/chip.rs
  src/circuit/gadget/sinsemilla/message.rs
  src/circuit/gadget/sinsemilla/note_commit.rs
  src/circuit/gadget/utilities.rs
  src/circuit/gadget/utilities/cond_swap.rs
  src/circuit/gadget/utilities/decompose_running_sum.rs
  src/circuit/gadget/utilities/lookup_range_check.rs
  src/constants/util.rs
  src/primitives/poseidon.rs
Labels: S-committed

#237 Orchard proposed mainnet circuit
  Cargo.toml
  benches/circuit.rs
  benches/poseidon.rs
  benches/primitives.rs
  book/macros.txt
  book/src/design/circuit/gadgets/decomposition.md
  book/src/design/circuit/gadgets/ecc/fixed-base-scalar-mul.md
  book/src/design/circuit/gadgets/ecc/var-base-scalar-mul.md
  src/circuit.rs
  src/circuit/gadget.rs
  src/circuit/gadget/ecc.rs
  src/circuit/gadget/ecc/chip.rs
  src/circuit/gadget/ecc/chip/add.rs
  src/circuit/gadget/ecc/chip/add_incomplete.rs
  src/circuit/gadget/ecc/chip/mul.rs
  src/circuit/gadget/ecc/chip/mul/complete.rs
  src/circuit/gadget/ecc/chip/mul/incomplete.rs
  src/circuit/gadget/ecc/chip/mul/overflow.rs
  src/circuit/gadget/ecc/chip/mul_fixed.rs
  src/circuit/gadget/ecc/chip/mul_fixed/base_field_elem.rs
  src/circuit/gadget/ecc/chip/mul_fixed/full_width.rs
  src/circuit/gadget/ecc/chip/mul_fixed/short.rs
  src/circuit/gadget/ecc/chip/witness_point.rs
  src/circuit/gadget/poseidon.rs
  src/circuit/gadget/poseidon/pow5.rs
  src/circuit/gadget/poseidon/pow5t3.rs
  src/circuit/gadget/sinsemilla.rs
  src/circuit/gadget/sinsemilla/chip.rs
  src/circuit/gadget/sinsemilla/chip/generator_table.rs
  src/circuit/gadget/sinsemilla/chip/hash_to_point.rs
  src/circuit/gadget/sinsemilla/commit_ivk.rs
  src/circuit/gadget/sinsemilla/merkle.rs
  src/circuit/gadget/sinsemilla/merkle/chip.rs
  src/circuit/gadget/sinsemilla/message.rs
  src/circuit/gadget/sinsemilla/note_commit.rs
  src/circuit/gadget/utilities.rs
  src/circuit/gadget/utilities/cond_swap.rs
  src/circuit/gadget/utilities/decompose_running_sum.rs
  src/circuit/gadget/utilities/lookup_range_check.rs
  src/circuit_description
  src/constants.rs
  src/constants/commit_ivk_r.rs
  src/constants/load.rs
  src/constants/note_commit_r.rs
  src/constants/nullifier_k.rs
  src/constants/spend_auth_g.rs
  src/constants/util.rs
  src/constants/value_commit_r.rs
  src/constants/value_commit_v.rs
  src/keys.rs
  src/note/commitment.rs
  src/note/nullifier.rs
  src/note_encryption.rs
  src/primitives/poseidon.rs
  src/primitives/poseidon/p128pow5t3.rs
  src/primitives/sinsemilla/constants.rs
  src/spec.rs
  src/tree.rs
  src/value.rs
Labels: M-circuit-change
